.heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.hd{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}